* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f7f7f7;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-pane, .right-pane {
  padding: 20px;
  width: 50%;
  overflow-y: auto;
}

.left-pane {
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.right-pane {
  background-color: #f0f0f0;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#task-input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e8e8;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.task-name.completed {
  text-decoration: line-through;
  color: gray;
}

.task-buttons button {
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
}
